.tx-neofileshare-pi1 p,
.tx-neofileshare-pi1 div,
.tx-neofileshare-pi2 div {
    padding: 5px;
    text-align: left;
    clear: both;
}

.tx-neofileshare-pi1 div label,
.tx-neofileshare-pi2 div label {
    display: block;
    width: 100px;
    float: left;
}

.tx-neofileshare-pi1 div select,
.tx-neofileshare-pi1 div textarea,
.tx-neofileshare-pi1 div input,
.tx-neofileshare-pi2 div select,
.tx-neofileshare-pi2 div textarea,
.tx-neofileshare-pi2 div input {
    float: left;
	background-color: #ffffff;
	
}
.tx-neofileshare-pi1 div textarea {
	width: 400px;
	height: 200px;
}

.tx-neofileshare-pi4 table,
.tx-neofileshare-pi3 table {
   border-collapse: collapse;
  /* border: 1px solid #CFCFCF; */
}

.tx-neofileshare-pi4 table th,
.tx-neofileshare-pi3 table th {
  font-weight: bold;
  background-color: #484848;
  padding: 5px;
  margin: 2px;
}

.tx-neofileshare-pi4 table td,
.tx-neofileshare-pi3 table td {
  font-weight: bold;
  padding: 8px;
  margin: 2px;
  /*border: 1px solid #CFCFCF;*/
}

.tx-neofileshare-pi4 table td.title,
.tx-neofileshare-pi3 table td.title {
  width: 200px;
}

.tx-neofileshare-pi3 table td.count {
	text-align: center;
}

.tx-neofileshare-pi4 .searchBox {
  padding-bottom: 15px;
}

.tx-neofileshare-pi3 .pageBrowser,
.tx-neofileshare-pi4 .pageBrowser {
  padding-top: 15px;
}

.tx-neofileshare-pi3 .pageBrowser span,
.tx-neofileshare-pi4 .pageBrowser span {
	padding: 2px;
}

.tx-neofileshare-pi5 .owner, .downloads {
	padding: 10px 0 10px 0;
}

.tx-neofileshare-pi5 .screen_table table {
	padding : 2px 2px 5px 2px;
	margin-top: 10px;
	border: 0px;
	background-color: #292929;
}
.tx-neofileshare-pi5 .screen_table table td{
	padding : 2px 2px 5px 2px;
	
	background-color: #292929;
}

.tx-neofileshare-pi5 .screen_table table img{
	padding : 2px 2px 5px 2px;
	
	background-color: #777777;
}


/*
.tx-neofileshare-pi4 .image img {
	width: 50px;
	max-height: 50px;
}

.tx-neofileshare-pi5 .image img {
	max-width: 200px;
	max-height: 200px;
}


.tx-neofileshare-pi3 .image img {
	width: 50px;
	height: 50px;
}
*/